<!--footer-->
<div class="footer ">
  <div class="footer-1"> </div>
  <div class="container">
    <div class="footer_top">
      <div class="col-md-3 footer-head">
        <h4>Navigation</h4>
        <ul class="list1">
          <li><a href="index.html">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="g#">Services</a></li>
          <li><a href="#">Solutions</a></li>
          <li><a href="#">Technologies</a></li>
          <li><a href="#">Case studies</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Career</a></li>
          <li><a href="#">Contact us</a></li>
        </ul>
      </div>

      <div class="col-md-3 footer-head">
        <h4>Recent News</h4>
        <div class="footer-new">
          <div class="footer-new1">
            <a href="single.html"> <%= image_tag("n1.jpg", :class => "img-responsive") %></a>
          </div>
          <div class="footer-new2">
            <p><a href="single.html">Masagni dolores eoquie voluptaquisquam.</a> </p>
          </div>
          <div class="clearfix"> </div>
        </div>
        <div class="footer-new">
          <div class="footer-new1">
            <a href="single.html"> <%= image_tag("n2.jpg", :class => "img-responsive") %></a>
          </div>
          <div class="footer-new2">
            <p><a href="single.html">Masagni dolores eoquie voluptaquisquam.</a> </p>
          </div>
          <div class="clearfix"> </div>
        </div>
        <div class="footer-new">
          <div class="footer-new1">
            <a href="single.html"> <%= image_tag("n3.jpg", :class => "img-responsive") %></a>
          </div>
          <div class="footer-new2">
            <p><a href="single.html">Masagni dolores eoquie voluptaquisquam. </a></p>
          </div>
          <div class="clearfix"> </div>
        </div>
      </div>
      <div class="col-md-3 footer-head">
        <h4>Follow Us</h4>
        <ul class="socials">
          <li><a href="#"><i ></i></a></li>
          <li><a href="#"><i class="dribbble"></i></a></li>
          <li><a href="#"><i class="twitter"></i></a></li>
        </ul>
      </div>
      <div class="col-md-3 footer-head1">
        <h4>Location</h4>
        <p><b>Rainbow Connection Uganda Ltd</b></p>
        <p>Plot 722, Namuli Road,Bukoto H</p>
        <p>P.O. Box 29927, Kampala, Uganda</p>
        <p><strong>Mobile:</strong> 0392178633</p>
      </div>
      <div class="clearfix"> </div>
    </div>
    <div class="footer-bottom">
      <p> © 2015 Rainbow Connection Uganda Ltd</p>
    </div>
  </div>
</div>
<!--//footer-->